<!-- start services -->
<section class="services">
    <div class="services-container">
        <h1>We also offer unique services for your events</h1>

        <div class="cards">
            <div class="card">
                <img src="/./kebab.png" alt="">
                <p>Birthdays</p>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
            <div class="card">
                <img src="/./birthday.png" alt="">
                <p>Weddings</p>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
            <div class="card">
                <img src="/./wedding.png" alt="">
                <p>Caterings</p>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
            <div class="card">
                <img src="/./events.png" alt="">
                <p>Events</p>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
        </div>
    </div>
</section>
<!-- end services -->