:root {
    --regular: 500;
    --medium: 550;
    --semiBold: 600;
    --bold: 700;
}

/* start Header section */

.header-section {
    height: 130px;
}

header {
    background-color: #474747;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    padding-left: 100px;
}

.iphone,
.imail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iphone,
.imail p {
    color: #F9F9F7;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 100px;
    width: 50%;
    margin-right: 70px;
}

.social a {
    transition: 0.3s;
}

.social a:hover {
    transform: scale(1.2);
}

/* end Header section */

/* start nav section */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.nav-container {
    height: 55px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

/* when logged in */

.nav-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    padding: 6px 16px;
    border-radius: 50px;
    transition: 0.3s;
}

.nav-list a:hover {
    background-color: #DBDFD0;
}

/* when logged out */

.nav-list-temp {
    margin: auto auto auto 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 400px;
}

.nav-list-temp a {
    text-decoration: none;
    color: black;
    padding: 6px 16px;
    border-radius: 50px;
    transition: 0.3s;
    margin-left: 5px;
}

.nav-list-temp a:hover {
    background-color: #DBDFD0;
}

/* you can use
                    .nav-list a:focus {
                            background-color: #dbdfd0;
                        }

instead of routerLinkAcitve
*/
.active {
    background-color: #DBDFD0;
}

.nav-container button {
    background-color: white;
    color: #182226;
    font-weight: var(--bold);
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 16px;
    border: 2px solid #2C2F24;
    transition: 0.3s;
    cursor: pointer;
}

.nav-container .logout {
    background-color: white;
    color: #182226;
    font-weight: var(--bold);
    border-radius: 30px;
    padding: 15px 7px;
    font-size: 16px;
    border: 2px solid #000;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 20px;
}

.nav-container button:hover {
    background-color: #ad343e;
    color: #fff;
}

.nav-container .logout:hover {
    background-color: #0a0a0a;
    color: #fff;
}

/* end nav section */

/* Responsive Collection */

/* For screens 700px or below */

/* @media (max-width: 816px) {
    .nav-list-temp {
        margin: auto;
    }
} */

@media (max-width: 890px) {
    header {
    background-color: #474747;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    }

    .info {
        display: inline;
        width: 40%;
        padding-left: 10px;
        font-size: 14px;
    }

    .social {
        display: flex;
        gap: 5px;
        padding-right: 0;
        margin-right: 0;
    }

    /* navigation bar responsive */

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 80px;
        padding-left: 0;
    }

    .nav-container {
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list {
        display: none;
    }

    .nav-container button {
        display: none;
    }

    .nav-list-temp {
        margin: auto;
    }
}

/* For screens 500px or below */
@media (max-width: 500px) {
    .info {
        width: 60%;
        font-size: 13px;
    }

    .social {
        padding-right: 20px;
    }

    .nav-list-temp {
        margin: auto;
        padding-right: 10px;
    }
}