<div class="header-section">
    <!-- header section -->
    <header>
        <div class="info">
            <div class="iphone">
                <img src="/./Phone.png" alt="Phone image">
                <p>(+20) 106710 - 7331</p>
            </div>
            <div class="imail">
                <img src="/./Mail.png" alt="Mail image">
                <p>yummy &#64;bistrobliss</p>
            </div>
        </div>

        <div class="social">
            <a routerLink="/home"><img src="/./twitter.png" alt=""></a>
            <a routerLink="/home"><img src="/./facebook.png" alt=""></a>
            <a routerLink="/home"><img src="/./instagram.png" alt=""></a>
            <a routerLink="/home"><img src="/./github.png" alt=""></a>
        </div>
    </header>

    <!-- nav section -->
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="/./japanese-food.png" alt="Logo image">
                <h1>Bistro Bliss</h1>
            </div>

            <div class="nav-list">
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/about" routerLinkActive="active">About</a>
                <a routerLink="/menu" routerLinkActive="active">Menu</a>
                <a routerLink="/blog" routerLinkActive="active">blog</a>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </div>
            <button routerLink="/booktable">Book A Table</button>
            <!-- menu bar when responsive -->
            <img src="" alt="">
        </div>
    </nav>
</div>