<footer>
    <div class="container">
        
        <!-- uppper section -->
        <div class="upper">
            <!-- column 1 -->
            <div class="col-1">
                    <img class="logo" src="/./footer-logo.png" alt="">
                    <p>In the new era of technology we look a in the future with certainty and pride for our life.</p>
                    <div class="social-icons">
                        <a href=""><img src="/./1.png" alt=""></a>
                        <a href=""><img src="/./2.png" alt=""></a>
                        <a href=""><img src="/./3.png" alt=""></a>
                        <a href=""><img src="/./4.png" alt=""></a>
                    </div>           
            </div>

            <!-- column 2 -->
            <div class="col-2">
                <div class="row">
                    <p>Pages</p>
                    <ul>
                        <a href=""><li>Home</li></a>
                        <a href=""><li>About</li></a>
                        <a href=""><li>Menu</li></a>
                        <a href=""><li>Pricing</li></a>
                        <a href=""><li>Blog</li></a>
                        <a href=""><li>Contact</li></a>
                        <a href=""><li>Delivery</li></a>
                    </ul>
                </div>
                <div class="row">
                    <p>Utility Pages</p>
                    <ul>
                        <a href=""><li>Start Here</li></a>
                        <a href=""><li>Styleguide</li></a>
                        <a href=""><li>Password Protected</li></a>
                        <a href=""><li>404 Not Found</li></a>
                        <a href=""><li>Licenses</li></a>
                        <a href=""><li>Changelog</li></a>
                        <a href=""><li>View More</li></a>
                    </ul>
                </div>
            </div>

            <!-- column 3 -->
            <div class="col-3">
                <div class="col-con-3">
                    <p>Follow Us On Instagram</p>
                    <div class="images">
                        <a href=""><img src="/./egg.png" alt=""></a>
                        <a href=""><img src="/./potatoes.png" alt=""></a>
                        <a href=""><img src="/./salad.png" alt=""></a>
                        <a href=""><img src="/./pancake.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- hr line -->
        <hr class="line">
        
        <!-- lower section -->
        <div class="lower">
            <p>Copyright © 2024 Ayman Elfeky. All Rights Are Reserved</p>
        </div>
    </div>

</footer>