<section class="menu">
    <div class="menu-container">
        <div class="menu-text">
            <h1>Our Menu</h1>
            <p>We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
        </div>

        <div class="buttons">
            <button (click)="setFocus(1)" [class.active] = "Focus === 1">All</button>
            <button (click)="setFocus(2)" [class.active] = "Focus === 2">Breakfast</button>
            <button (click)="setFocus(3)" [class.active] = "Focus === 3">Main Dishes</button>
            <button (click)="setFocus(4)" [class.active] = "Focus === 4">Drinks</button>
            <button (click)="setFocus(5)" [class.active] = "Focus === 5">Desserts</button>
        </div>

        <div class="cards">
            <div class="card">
                <img src="/./Mask group (1).png" alt="">
                <p>$ 9.99</p>
                <p>Fried Eggs</p>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
            <div class="card">
                <img src="/./Mask group (2).png" alt="">
                <p>$ 15.99</p>
                <p>Hawaiian Pizza</p>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
            <div class="card">
                <img src="/./Mask group (3).png" alt="">
                <p>$ 7.25</p>
                <p>Martinez Cocktail</p>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
            <div class="card">
                <img src="/./Mask group (4).png" alt="">
                <p>$ 20.99</p>
                <p>Butterscotch Cake</p>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
            <div class="card">
                <img src="/./Mask group (5).png" alt="">
                <p>$ 5.89</p>
                <p>Mint Lemonade</p>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
            <div class="card">
                <img src="/./Mask group (6).png" alt="">
                <p>$ 18.05</p>
                <p>Chocolate Icecream</p>
                <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
            </div>
        </div>
    </div>
</section>