<div class="blog">
    <div class="text">
        <h1>Our Blog & Articles</h1>
        <p>We consider all the drivers of change gives you the components you need <br> to change to create a truly happens</p>
    </div>
    <div class="cards">
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div> 
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
        <div class="card">
            <img src="/./blog.png" alt="">
            <p>January 3, 2024</p>
            <p>How to prepare a free gluten sushi</p>
            <p>Read More</p>
        </div>
    </div>
</div>
