<div class="blog">
  <div class="text">
    <h1>Our Blog & Articles</h1>
    <p>We consider all the drivers of change gives you the components you need <br> to change to create a truly happens</p>
  </div>

  <!-- New Recipe Form -->
  <div *ngIf="isAdmin" class="create">
    <h3>Create New Recipe</h3>
    <form [formGroup]="registerForm" (ngSubmit)="createRecipe()">
      <input formControlName="title" placeholder="Title" name="title" required>
      <textarea formControlName="description" placeholder="Description" name="description" required></textarea>
      <input formControlName="ingredients" placeholder="Ingredients" name="ingredients" required>
      <input formControlName="preparation" placeholder="Preparation" name="preparation" required>
      <input formControlName="category" placeholder="Category" name="category" required>
      <input formControlName="servings" placeholder="Servings" name="servings" required>
      <input formControlName="cook_time" placeholder="Cook Time" name="cook_time" required>
      <input formControlName="prep_time" placeholder="Prep time" name="prep_time" required>
      <button type="submit">Create Recipe</button>
    </form>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let recipe of recipes">
      <img src="/./blog.png" alt="">
      <p>{{ recipe.createdAt | date:'longDate' }}</p> <!-- Display the date -->
      <p>How to prepare {{ recipe.title }}</p> <!-- Display the recipe title -->
      <p (click)="viewRecipe(recipe._id)" class="read-more">Read More</p> <!-- Navigate to blog details -->

      <!-- Add the edit and delete buttons -->
      <button *ngIf="isAdmin" class="edit-btn" (click)="startEditing(recipe)">Edit</button>
      <button *ngIf="isAdmin" class="delete-btn" (click)="deleteRecipe(recipe._id)">Delete</button>

      <!-- Display the edit form only for the selected recipe -->
      <div class="edit-section" *ngIf="recipe._id === editingRecipeId">
        <h3>Edit Recipe</h3>
        <form (ngSubmit)="updateRecipe()">
          <input [(ngModel)]="updatedTitle" placeholder="New title" name="title" required>
          <textarea [(ngModel)]="updatedDescription" placeholder="New description" name="description"></textarea>
          <button type="submit">Save</button>
          <button type="button" (click)="cancelEditing()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
