/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --regular: 500;
    --medium: 550;
    --semiBold: 600;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 24px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: "Playfair Display", serif;
}

.logo h1 {
    font-weight: var(--semiBold);
    font-style: italic;
    line-height: 40px;
    letter-spacing: -0.4px;
}